################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/spherical_dynamics/v16
/spherical_dynamics/spherical_dynamics
